<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container mt-5 p-5">

			<div class="card card-sh">
				<div class="card-header text-center">
					<p class="fs-4">My Cart</p>
					<th:block th:if="${session.succMsg}">
						<p class="text-success fw-bold">[[${session.succMsg}]]</p>
						<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>

					<th:block th:if="${session.errorMsg}">
						<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
						<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>
				</div>
				<div class="card-body">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Sl No</th>
								<th scope="col">Image</th>
								<th scope="col">Product Name</th>
								<th scope="col">Price</th>
								<th scope="col">Quantity</th>
								<th scope="col">Total Price</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cart,c:${carts}">
								<th scope="row">[[${c.count}]]</th>
								<td><img
									th:src="@{'/img/product_img/'+${cart.product.image}}"
									width="120px" height="120px"></td>
								<td>[[${cart.product.title}]]</td>
								<td>[[${cart.product.discountPrice}]]</td>
								<td>
							    <div class="input-group quantity-box"style="width: 120px;">
							        <a class="btn btn-outline-secondary qty-btn" 
							           th:onclick="'javascript:confirmUpdate(\'de\', \'' + ${cart.id} + '\', \'' + ${cart.quantity} + '\');'">
							            <i class="fa-solid fa-minus"></i>
							        </a>
							        <input type="text" class="form-control text-center qty-value" 
							               th:value="${cart.quantity}" readonly>
							        <a class="btn btn-outline-secondary qty-btn" 
							           th:href="@{'/user/cartQuantityUpdate?sy=in&cid='+${cart.id}}">
							            <i class="fa-solid fa-plus"></i>
							        </a>
							    </div>
							</td>

								<td>[[${cart.totalPrice}]]</td>
							</tr>
							<tr>
								<td colspan="4"></td>
								<td class="fw-bold">Total Price</td>
								<td class="fw-bold">Rs, [[${totalOrderPrice}]]</td>
							</tr>

						</tbody>
					</table>
					<div class="text-center">
						<a href="/user/orders" class="btn btn-dark"> Proceed Payment</a>
					</div>
				</div>
			</div>
		</div>
		<script>
			function confirmUpdate(sy, cid, quantity) {
				if (sy == 'de' && quantity == 1) {
					var result = confirm("Do you want to remove this item from the cart?");
					if (result) {
						window.location.href = "/user/cartQuantityUpdate?sy=de&cid=" + cid;
					}
				} else {
					window.location.href = "/user/cartQuantityUpdate?sy=" + sy + "&cid=" + cid;
				}
			}
		</script>
	</section>
</body>
</html>